/*.projects-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
*/
.project {
    padding: 120px 0;
    z-index: -1;
    font-family: sans-serif;
  text-align: center;
  position: relative;
  z-index: 1;

  }


.project-card {
    
    align-items: center;
    justify-content: center;
    height: fit-content;   
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    
  }
  
  .project-card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
.project h2 {
    text-align: center;
    color: #fff;
  font-size: 25px;
}

.project p {
    color: #888888;
    font-size: 18px;
    letter-spacing: 0,8px;
    line-height: 1.5em;
    margin: 14px auto 38px auto;
    text-align: center;
    width: 80%;
}

.title {
    text-align: center;
}
  
.tabs {
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #2d2d38;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.tabs .tab {
    color: #fff;
    display: flex;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    padding: 17px 20px;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    z-index: 0;
}
  
.tabs .tab::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #003f91 -5.91%, #0059ff 111.50%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.tabs .tab.selected::before {
    width: 100% !important;
}

.tabs .tab.selected:hover {
    background: none;
}
  
.tab__content {
    padding: 1em 2em;
    color: #525151;
    font-family: "Economica", sans-serif;
    font-size: 20px;
    width: 100%;
}
  
.tab__icon {
    padding-left: 0.5em;
}
  
.subtitle {
    color: #888888;
    /*font-family: "Kaushan Script", cursive;*/
}
  
.proj-imgbx {
     position: relative;
     height: 280px;
     overflow: hidden;
     margin-bottom: 24px;
     display: block;
     width: 400px;
     max-width: 100%;
     margin: 20px;
     
}

.proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #003f91 -5.91%, #0059ff 111.50%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
    height: 100%;
}

.proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
}

.proj-txtx h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1rem;
    color: #fff;
}

.proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
    color: #fff;
}

.bg-img-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    z-index: -4;
}

.tab-pane .first {
    display: flex;
}

@media (max-width: 768px) {
    .tabs {
      width: 70%;
    }

    #projects-container {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }
  }


@media (max-width: 600px) {
    .tabs {
      width: 85%;
    }

  }