.contact {
    padding: 0 30px;
    margin-top: -50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.cent {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.contact img {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.contact h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.contact h4, h5 {
    text-align: left;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 30px;
}

.contact h5 {
    text-align: left;
    font-weight: 300;
}

.contact-div {
    background-color: #1e1e26;
    border-radius: 30px;
    margin-top: 30px;
    align-items: flex-start;
    margin-right: 10px;
    padding: 30px;
    width: 350px;
}

.contact-left {
    max-width: 50%;
    flex: 1;
}

.flex {
    display: flex;
    padding: 10px 0px;
    justify-content: flex-start;
    align-items: center;
}

.flex p {
    margin-left: 15px;
    font-size: 13px;
}

.iconn {
    color: #0746bc;
}

.icon2 {
    color: #fff;
    padding: 6px;
    font-size: 28px;
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    line-height: 1;
    background: rgba(217, 217, 217, 0.1);
}

.contact form {
    background: #1e1e26;
    border: none;
    width: 500px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.contact input:focus,
.contact textarea:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.contact button {
    display: block;
    width: 30%;
    background: linear-gradient(90.21deg, #003f91 -5.91%, #0059ff 111.50%);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact button:hover {
    background: #0056b3;
}

.contact .success {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.contact .danger {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 852px) {
    .contact h2 {
        font-size: 1.8rem;
    }

    .contact form {
        padding: 20px;
    }

    .cent {
        
        display: flex;
       
        
    }
}

@media (max-width: 852px) {
    .cent {
        flex-direction: column;
        align-items: center;
    }

    .contact-left, 
    .contact form {
        max-width: 100%;
    }
}

